body{
    display: flex;
    margin: 0;
    padding: 0;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 100vh;
    background-color: #8C2F39;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

label > h2{
    margin-bottom: 10px;
}

.info > label> h2{
    padding-left: 5px;
}

input{
    width: 300px;
    height: 30px;
    font-size: 1.5rem;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.status{
    display: flex;
    flex-direction: column;
    align-items: center;
}

select{
    font-size: 1.5rem;
    text-align: center;
}

.add{
    background-color: #B23A48;
    font-size: 2rem;
    border-radius: 15px;
    height: 75px;
    width: 200px;
}

.add:hover{
    background-color: #FCB9B2;
}

.book-table-container{
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    width: 300px;
    border: 5px solid #051014;
    border-top: 0;
}

th:nth-child(1), td:nth-child(1){
    border-left: 0;
}

th:nth-child(5), td:nth-child(5){
    border-right: 0;
}

thead > tr > th{
    font-size: 2.5rem;
    height: 90px;
}

td{
    height: 70px;
    text-align: center;
    font-size: 1.5rem;
}